<!DOCTYPE html>
<html lang="en" ng-app="angularJsDemo1">
    <head>
        <meta charset="UTF-8">
        <title>angularJsDemo1</title>

        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/angularJsDemo1.css">
    </head>

    <body>

        <div id="main" ng-controller="helloController">
            <h1>{{clock.now}}</h1>
            <input type="text" placeholder="Your Name" ng-model="person.name">
            <h2>Hello {{person.name}}</h2>

            <div id="addMachine">
                <h4>The simplest adding machine</h4>
                <button ng-click="addMachine.addCount(1)">Add</button>
                <button ng-click="addMachine.subtractCount(1)">Suntract</button>
                <h4>Current count:{{addMachine.count}}</h4>
            </div>

            <div id="tableVerify" class="container">
                <form action="#" class="form-horizontal" role="form" name="verifyForm"
                ng-submit="user.submitForm(verifyForm.$valid)">
                    <div class="form-group has-feedback">
                        <label for="inputUsername" class="col-md-2 col-md-offset-1 control-label">User Name:</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="inputUsername" placeholder="User Name"
                            name="userName" required ng-model="user.name">
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="verifyForm.userName.$dirty && verifyForm.userName.$valid"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="inputUserAge" class="col-md-2 col-md-offset-1 control-label">User Age</label>
                        <div class="col-md-7">
                            <input type="number" class="form-control" id="inputUserAge" placeholder="User Age"
                            name="userAge" ng-model="user.age">
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="verifyForm.userAge.$dirty && verifyForm.userAge.$valid"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="inputEmail" class="col-md-2 col-md-offset-1 control-label">Email Address:</label>
                        <div class="col-md-7">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address"
                            name="userEmail" ng-model="user.email">
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="verifyForm.userEmail.$dirty && verifyForm.userEmail.$valid"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="numMax" class="col-md-2 col-md-offset-1 control-label">Max Number:</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="numMax" placeholder="Max Number"
                            name="numMax" ng-maxlength="20" ng-model="user.maxNum">
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="verifyForm.numMax.$dirty && verifyForm.numMax.$valid"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="numMin" class="col-md-2 col-md-offset-1 control-label">Minimum Number:</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="numMin" placeholder="Minimum Number"
                            name="numMin" ng-minlength="5" ng-model="user.minNum">
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="verifyForm.numMin.$dirty && verifyForm.numMin.$valid"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="inputUrl" class="col-md-2 col-md-offset-1 control-label">Url:</label>
                        <div class="col-md-7">
                            <input type="url" class="form-control" id="inputUrl" placeholder="Url"
                            name="userUrl" ng-model="user.url">
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="verifyForm.userUrl.$dirty && verifyForm.userUrl.$valid"></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                1.用户名（必填项）：{{user.name}}<br>
                2.年龄（数字）：{{user.age}}<br>
                3.电子邮件：{{user.email}}<br>
                4.最小数字=5：{{user.minNum}}<br>
                5.最大数字=20：{{user.maxNum}}<br>
                6.Url：{{user.url}}<br>
            </div>

        </div>

        <script src="../js/angular.js"></script>
        <script src="../js/angularJsDemo1.js"></script>

    </body>
</html>