<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Angular Route</title>

        <link rel="stylesheet" href="../css/bootstrap.css">

        <!--angular-->
        <script src="../js/angular.js"></script>
        <script src="../js/angular-route.js"></script>
        <!--application-->
        <script src="../js/angularRoute.js"></script>
        <!--controllers-->
        <script src="../control/homeController.js"></script>
        <script src="../control/dashboardController.js"></script>
    </head>

    <body ng-app="angularRoute">
        <div ng-view></div>
    </body>
</html>