<!DOCTYPE html>
<html lang="en" ng-app="angularRoute">
    <head>
        <meta charset="UTF-8">
        <title>Angular Route</title>

        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/angularRoute.css">

        <!--angular-->
        <script src="../js/angular.js"></script>
        <script src="../js/angular-route.js"></script>
        <!--Jquery-->
        <script src="../js/jquery-3.1.1.min.js"></script>
        <!--<script src="../js/main.js"></script>-->
        <!--application-->
        <script src="../js/angularRoute.js"></script>
        <!--controllers-->
        <script src="../control/homeController.js"></script>
        <script src="../control/dashboardController.js"></script>
    </head>

    <body ng-controller="routeController">
        <div>{{weather}}</div>
        <div id="navigator">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#/home">Home</a></li>
                <li role="presentation"><a href="#/dashboard">Dashboard</a></li>
            </ul>
        </div>
        <div id="main" ng-view></div>
    </body>
</html>