<!DOCTYPE html>
<html lang="en" ng-app="dashboardApp">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>

        <link rel="stylesheet" href="../css/bootstrap.css">

        <script src="../js/angular.js"></script>
        <script src="../js/angular-route.js"></script>
        <script src="../js/angularRoute.js"></script>
        <script src="../control/dashboardController.js"></script>
    </head>

    <body ng-controller="dashboardController">
        This is dashboard page...
        <div>{{hello}}</div>
    </body>
</html>