<!DOCTYPE html>
<html lang="en" ng-app="homeApp">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>

        <link rel="stylesheet" href="../css/bootstrap.css">

        <script src="../js/angular.js"></script>
        <script src="../js/angular-route.js"></script>
        <script src="../js/angularRoute.js"></script>
        <script src="../control/homeController.js"></script>
    </head>

    <body ng-controller="homeController">
        This is Home page...
        <div>{{hello}}</div>
    </body>
</html>