<!DOCTYPE html>
<html lang="en" ng-app="visualizationApp">
    <head>
        <meta charset="UTF-8">
        <title>Visualization</title>

        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/visualization.css">

        <!--angular-->
        <script src="../js/angular.js"></script>
        <!--jquery-->
        <script src="../js/jquery-3.1.1.min.js"></script>
        <!--Baidu Map-->
        <script src="http://api.map.baidu.com/api?v=2.0&ak=VvpQWTKVx3gfWRr2z9IjPHD9"></script>
        <!--application-->
        <script src="../js/visualization.js"></script>
        <script src="../js/map.js"></script>
    </head>

    <body class="mainFrame" ng-controller="visualizationController">

        <!--导航条 start-->
        <header id="navigator">
            <div class="leftSection">
                <span class="title">
                    <small>屏</small>01
                </span>
                <label>实时事件</label>
            </div>
            <div class="centerSection">
                <h1>数据可视化系统</h1>
            </div>
            <div class="rightSection">
                <ul id="weather">
                    <li class="weather" id="weatherImg">
                        <img src={{weather.currentWeatherImg}} alt="">
                    </li>
                    <li class="weather" id="weatherInfo">
                        <span>{{weather.currentWeather}}</span>
                    </li>
                </ul>
                <div id="currentTime">
                    <div class="time" id="currentTime_time">
                        {{date.currentTime}}
                    </div>
                    <div class="date" id="currentTime_date">
                        {{date.currentDate}}
                    </div>
                </div>
                <div id="exitBtn">
                    <i id="btn-exit" class="glyphicon glyphicon-off"></i>
                </div>
            </div>
            <ul class="tabs">
                <li class="active">
                    <a href="#">实时事件</a>
                </li>
                <li>
                    <a href="#">事件统计</a>
                </li>
                <li>
                    <a href="#">资源分布</a>
                </li>
                <li>
                    <a href="#">考核评分</a>
                </li>
            </ul>
        </header>
        <!--导航条 end-->

        <!--可视化区域 start-->
        <div class="content realtime">
            <div class="areaLeft"></div>
            <div class="areaCenter">
                <div id="map"></div>
            </div>
            <div class="areaRight"></div>
        </div>
        <!--可视化区域 end-->

    </body>
</html>