<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Visualization</title>

        <link rel="stylesheet" href="../css/visualization.css">
    </head>

    <body class="mainFrame">

        <!--导航条 start-->
        <header id="navigator">
            <div class="leftSection">
                <span>
                    <small>屏</small>01
                </span>
                <label>实时事件</label>
            </div>
            <div class="centerSection"></div>
            <div class="rightSection"></div>
        </header>
        <!--导航条 end-->

        <!--可视化区域 start-->
        <div id="main"></div>
        <!--可视化区域 end-->

    </body>
</html>