<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Visualization</title>

        <link rel="stylesheet" href="../css/visualization.css">
    </head>

    <body class="mainFrame">

        <!--导航条 start-->
        <header id="navigator">
            <div class="leftSection">
                <span class="title">
                    <small>屏</small>01
                </span>
                <label>实时事件</label>
            </div>
            <div class="centerSection">
                <h1>数据可视化系统</h1>
            </div>
            <div class="rightSection">
                <ul id="weather">
                    <li class="weather" id="weatherImg">
                        <img src="../img/weather/sunshine.png" alt="sunshine">
                    </li>
                    <li class="weather" id="weatherInfo">
                        <span>晴天 23-15℃</span>
                    </li>
                </ul>
                <div id="currentTime">
                    <div class="time" id="currentTime_time">
                        16:23:22
                    </div>
                    <div class="date" id="currentTime_date">
                        2016-11-22 星期二
                    </div>
                </div>
                <div class="exitBtn"></div>
            </div>
        </header>
        <!--导航条 end-->

        <!--可视化区域 start-->
        <div id="main"></div>
        <!--可视化区域 end-->

    </body>
</html>